aws_region              = "us-east-1"
aws_profile             = "YOUR-SECURITY-PROFILE"
environment             = "production"
tfstate_bucket          = "iam-audit-tfstate-ACCOUNT-ID"
reports_bucket_name     = "iam-audit-reports-ACCOUNT-ID"
management_account_id   = "YOUR-MANAGEMENT-ACCOUNT-ID"
audit_role_name         = "YOUR-AUDIT-ROLE-NAME"
slack_webhook_url       = "https://hooks.slack.com/services/XXX/YYY/ZZZ"